#main-banner {
	background-image: url("../img/olympicMountains1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #cccccc;
}

div.bio-image {
  width: 15vw;
  min-width: 150px;
}

#main-title {
  margin-top: -120px;
}

/* OVERRIDE */
.text-block {
  max-width: 800px;
  text-align: justify !important;
}

/* Desktop Style */

@media (min-width: 768px) {

  #home-title {
    margin-top: -100px;
  }

}