body {
	padding: 0px;
	margin: 0px;
}

header {
	padding: 0px;
	margin: 0px;
	position: relative;
	float: left;
	height: 110vh;
	width: 100%;
	background-color: cadetblue;
	opacity: 50%;
}

header h1 {
	position: relative;
	float: left;
}

header nav {
	padding: 0px;
	margin: 0px;
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 10vh;
	background-color: coral;
	opacity: 50%;
}

header nav ul {
	padding: 0px;
	margin: 0px;
	width: inherit;
}

header nav ul li {
	padding: 0px;
	margin: 0px;
	height: 10px;
	position: relative;
	float: left;
	display: block;
}

section {
	padding: 0px;
	margin: 0px;
	position: relative;
	float: left;
	height: 88vh;
	width: 100%;
	background-color: blue;
}

footer {
	padding: 0px;
	margin: 0px;
	position: relative;
	float: left;
	height: 2vh;
	width: 100%;
}

footer h6 {
	padding: 0px;
	margin: 0px;
	position: relative;
	float: left;
}