body {
	margin: 0;
	overflow: hidden;
}

.mainWrapper {
	width: 100vw;
	height: 100vh;
	overflow: scroll;
	position: relative;
}

.mainWrapper::-webkit-scrollbar {
	width: 0 !important;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 15vh;
	background-color: #0000ff4d;
	z-index: 3;
}

.debugLog {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	width: 300px;
}

.debugLog .attributes {
	display: block;
	height: 20px;
}

.attributes div {
	display: inline-block;
	height: inherit;
	margin-right: -50%;
}

.attributes p {
	margin: 0 auto;
	float: left;
	text-align: center;
}

.banner {
	width: 100vw;
}

#mainBanner {
	position: relative;
	top: 0;
}

#mainBanner img {
	width: inherit;
}

.headerBanner {
	position: fixed !important;
	transform: 0;
}

section {
	padding: 0 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
}

section article {
	width: 90vw;
	height: 20vh;
	background: #ccc;
	margin: 10px auto;
}

