body {
	margin: 0;
	overflow: hidden;
}

.mainWrapper {
	width: 100vw;
	height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
	position: relative;
}

.mainWrapper::-webkit-scrollbar {
	width: 0 !important;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 15vh;
	z-index: 3;
}

@media screen and (min-width: 900px) {
	header nav ul li a {
		color: blue;
	}
}

@media screen and (max-width: 900px) {
	header nav ul li a {
		color: red;
	}
}

header nav {
	position: fixed;
	top: 20px;
	left: 50%;
	transform: translate(-50%, 0);
	width: 80vw;

}

header nav ul {
	list-style: none;
}

header nav ul li a {
	text-decoration: none;
	display: block;
	float: left;
	margin-right: 20px;
	font-size: 40px;
}

#mainHeaderBG {
	height: inherit;
	width: inherit;
	background-color: #383838d4;
	opacity: 0;
}

.headerBannerStateOne {
	visibility: hidden;
}

.headerBannerStateTwo {
	height: 15vh;
	visibility: visible;
}

#mainHeaderBanner {
	position: fixed;
	top: 0;
	z-index: 2;
	background-image: url("../img/oceanSunset3.jpg");
	background-repeat: no-repeat;
	background-position: bottom; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.banner {
	width: 100vw;
}

#mainBanner {
	position: relative;
	height: 62.5vw;
	max-height: 100vh;
	top: 0;
}

#mainBanner img {
	position: absolute;
	bottom: 0;
	width: inherit;
}

.headerBanner {
	position: fixed !important;
	transform: 0;
}

.button {
	text-align: center;
}

#topLink {
	width: 100px;
	height: 100px;
	position: fixed;
	bottom: 2vh;
	right: 2vh;
	opacity: 0;
}

#topLink a {
	position: absolute;
	display: block;
	text-decoration: none;
	width: 100px;
	height: 100px;
	line-height: 100px;
	border-radius: 50px;
	font-size: 65px;
	color: white;
	background-color: orange;
}

#topLink a:hover {
	background-color: pink;
}

main {
	padding: 0 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
}

main section {
	width: 90vw;
	height: 90vw;
	background: grey;
	margin: 40px auto;
}

main section article {
	display: block;
	float: left;
	width: 40%;
	height: 40%;
	margin: 5%;
	background-color: blue;
}